body {
  background-color: lightblue;
  margin : 50px;
  padding: 20px;
  font-size: large;

}
select {
  height: 30px;
  width: 250px;
  font-size: large;
}

button {
  font-size: large;
  background-color: grey;
  margin: 10px;
}